body{
    font-family: 'Roboto Slab', serif;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 40px;
    color:rgb(243, 62, 92);
}
p{
    color:dimgray;
}
.name-highlight{
    color: rgb(243, 62, 92);
}
.half-width{
    width: 40%;
    float:left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
}
.top-banner{
    background-image:url("images/header-bg.png");
    background-repeat: no-repeat;
    height: 700px;
    background-size:cover;
}
.section{
    height:500px;
    padding-bottom: 250px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(50deg,lightsalmon,tomato) ;
    padding: 10px 20px;
    border-radius: 10px;
    color:white;
    front-weight: 700;
}
.dream-area{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
    height:700px;
    background-position:middle;
    
}
h4{
    text-align: center;
    font-size:30px;
    color:brown;
}

.work-image img{
    width:25% ;
    margin-left:5%;
    margin-right:2%;
    margin-bottom:3% ;
}
.my-work{
    background-image:url("images/latest-work-bg.png");
    background-repeat: no-repeat;
    height: 300px;
    background-size:cover;
 
  
}
h2{
    text-align: center;
    color:rgb(248, 62, 62)(167, 167, 167);
}
p{
    text-align: center;
}
h4{
    text-align: center;
}
.box{
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    border-radius: 20px;
    background-color: rgb(250, 169, 154);
}
.last-section{
    margin-top: 2px;
    background-image:url("images/footer-bg.png");
    background-repeat: no-repeat;
    height: 500px;
    background-size:cover;
   
}
